<div class="row">
  <%= render 'layouts/alternate_subnav' %>
  <div class="row">
	  <div class="large-12 large-centered columns">
		  <h2 class="about-heading">About Loco Trades</h2>
    </div>
  </div>
  
  <div class="large-12 columns">
    <blockquote>
      Our mission is to offer the best platform to search and find unbelievable deals. Our vision is with a simple click of 
      a button you will get items and ideas you never thought you could own. Visit us and make your move a crazy trade  
      <cite>Lloyd Gatobu, Founder</cite>
    </blockquote>
	</div>
</div>











