<div class="row">
  <%= render 'layouts/alternate_subnav' %>
	<div class="large-12">
		<h2 class="contact-heading">Contact</h2>
	</div>
</div>
<br>
<br>
<div class="row">
  <div class="large-12 large-centered columns">
    <ul class="vcard">
      <li class="email"><a href="#"><i class="fi-mail"></i> contact@locotrades.com</a></li>
      <li><a href="#"><i class="fi-telephone"></i> 469-249-2340</a></li>
      <br>
    </ul>
   </div>
  <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=13befae51a0737f05631591710feb1ea24200a90&style=0" /></object>
</div>