<div class="row">
	<div class="large-9 columns">
		<ul class="example-orbit" data-orbit>
			<li>
				<img src="/andromeda-orbit.jpg" alt="slide 1" />
				<div class="orbit-caption">Caption One.</div>
			</li>
			<li>
				<img src="/satelite-orbit.jpg" alt="slide 2" />
				<div class="orbit-caption">Caption Two.</div>
			</li>
			<li>
				<img src="/launch-orbit.jpg" alt="slide 3" />
				<div class="orbit-caption">Caption Three.</div>
			</li>
		</ul>
	</div>

	<div class="large-3 columns">
		<div class="panel" id="home_page_panel">
			<h4>Welcome to Loco Trades</h4>
			<p>We are the got to site for barter trading</p>
			<p>Check out the Items that are being traded below</p>
		</div>
	</div>
</div>


<div class="row">
	<ul class="large-block-grid-4" >
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
		<li><img src="/10.jpg" style="height: 250px; width: 300px; border-radius: 5px;"></li>
	</ul>
</div>


















