<div class="row">
	<%if @posts.any? %>
		<% @posts.each do |post| %>
			<div class="large-3 columns">
				<div class="panel">
					<p><%= post.title %></p>
					<p><%= post.description %></p>
					<p><%= time_ago_in_words(post.updated_at) %></p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
