body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -9em;
}

.push {
	height: 6em;
}

 

/*------ top bar ------------*/

#home_page_panel {
	background-color: #666666;
	p {
		color: #fff;
	}
	h4 {
		color: #fff;
	}
}

#subnav-top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 2px;
    height: 30px;

    .sign_register a {
    	color: #008cba;
    }

}

#subnav2-homepage {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#logo-topbar img {
	width: 50%;
	height: 50%;
	margin: -15px 50% 10px 50%;
}


/*------- sign up page -------*/


.signuplabel {
	text-align: center;
}

.signupbutton {
	text-align: center;
}


/*------ error and alert -----------*/

#error_explanation h2 {
	font-size: 1.35em;
	color: #f04124;
}

#error_explanation ul li  {
	color: #f04124;
}

.alert-box  {
	text-align: center;
	background-color: #f04124;
}

.alert-box.notice {
	background-color: #7CCD7C;
	border-color: #7CCD7C;
}
 div.alert.alert-box.timedout.radius {
 	display: none;
 }

/*--------- privacy policy -----------*/

.privacy_policy_list {
	font-size: 14px;
}


/*-------footer ----------------*/

.footer_loco {
	height: 6em;
	bottom: 1px;
	margin-top: 50px;
	border-top-color: #737373;
	border-top-style: solid;
	border-top-width: 1px;
	background-color: #333333;
  font-weight: bold;
}

.footer_loco ul {
	padding-left: 5%;
	padding-top: 2%;
}

.footer_loco a {
	color: #666666;
}

/*------- Post form -------------*/

.post_form input {
	width: 50%;
}

.post_form textarea {
	height: 15em;
}

.post_form select {
	width: 50%;
}

input#post_city.post_form_city {
	width: 30%;
}

input#post_state.post_form_state {
	width: 30%;
}
input.button.radius.post_form_submit_button {
	width: 20%;
}

/*--------- Post index page --------------*/

#post_index_panel {
  padding: 0 0 2px 0;
  border-radius: 3px;
  border-color: #EEEEEE;
  p {
    margin-bottom: 5px;
    padding-left: 3px;
  }
  p.post_index_title {
     margin-bottom: 5px;
    color: white;
    font-weight: normal;
    padding: 10px 5px;
    background-color: #515151;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    height: 70px;
  }
  p.post_index_value {
    font-weight: bold;
  }
  p.post_index_seller {
    font-size: 13px;

    border-top: 1px grey solid;
  }
  p.post_index_description {
  	font-size: 13px;
  	height: 40px;
  }
}

.index_button_show a {
  left: 25%;
}


/*--------- show page --------*/

#show_tabs_content div {
  position: relative;
  padding-left: 10px;
  border: 0px #DDDDDD solid;
  box-shadow: 0 1px 4px 0px #99A3AD, inset 0 0 40px #EEEEEE;
}

#show_page_id {
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  border: 0px #DDDDDD solid;
  box-shadow: 0 1px 4px 0px #99A3AD, inset 0 0 40px #EEEEEE;
}

#show_page_id:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 95%;
  top: 10px;
  right: 0px;
  bottom: 10px;
  left: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 20px #2A2E31;
}

#show_page_id:after {
  content: ""; 
  z-index: -1; 
  position: absolute; 
  width: 95%; 
  top: 10px; 
  right: 0px; 
  bottom: 10px; 
  border-radius: 0px; 
  box-shadow: 0px 0px 20px #2A2E31; 
}


.nested_messages {
  margin-left: 30px;
}

.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0;
}


.list_of_offers {
  border: 1px #DDDDDD solid;
  padding: 10px;
}

.comment_info {
  color: #737373;
}

.new_comment_header {
  font-size: 20px;
}

.media-body {
  line-height: 0;
}
















