body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -9em;
}

.push {
	height: 6em;
}

 

/*------ top bar ------------*/

#home_page_panel {
	background-color: #666666;
	p {
		color: #fff;
	}
	h4 {
		color: #fff;
	}
}

#subnav-top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 2px;
    height: 30px;

    .sign_register a {
    	color: #008cba;
    }

}

#subnav2-homepage {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#logo-topbar img {
	width: 50%;
	height: 50%;
	margin: -15px 50% 10px 50%;
}


/*------- sign up page -------*/


.signuplabel {
	text-align: center;
}

.signupbutton {
	text-align: center;
}


/*------ error and alert -----------*/

#error_explanation h2 {
	font-size: 1.35em;
	color: #f04124;
}

#error_explanation ul li  {
	color: #f04124;
}

.alert-box  {
	text-align: center;
	background-color: #f04124;
}

.alert-box.notice {
	background-color: #7CCD7C;
	border-color: #7CCD7C;
}
 div.alert.alert-box.timedout.radius {
 	display: none;
 }

/*--------- privacy policy -----------*/

.privacy_policy_list {
	font-size: 14px;
}


/*-------footer ----------------*/

.footer_loco {
	height: 6em;
	bottom: 1px;
	margin-top: 50px;
	border-top-color: #737373;
	border-top-style: solid;
	border-top-width: 1px;
	background-color: #333333;
  font-weight: bold;
}

.footer_loco ul {
	padding-left: 5%;
	padding-top: 2%;
}

.footer_loco a {
	color: #666666;
}

/*------- Post form -------------*/

.post_form input {
	width: 50%;
}

.post_form textarea {
	height: 15em;
}

.post_form select {
	width: 50%;
}

input#post_city.post_form_city {
	width: 30%;
}

input#post_state.post_form_state {
	width: 30%;
}
input.button.radius.post_form_submit_button {
	width: 20%;
}

/*--------- Post index page --------------*/

#post_index_panel {
  padding:0;
  height: 275px;
  border-radius: 3px;
  border-color: #EEEEEE;
  margin-bottom: 2rem;
  p {
    /*margin-bottom: 5px; */
    padding-left: 3px;
  }
  p.post_index_title {
    /* margin-bottom: 5px; */
    margin-bottom: 0px;
    color: white;
    font-weight: normal;
    padding: 10px 5px 0 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Open Sans', sans-serif;
    height: 68px;
  }
  p.post_index_value {
    font-weight: bold;
  }
  p.post_index_seller {
    font-size: 13px;
    border-top: none;

    
  }
  p.post_index_description {
  	font-size: 13px;
  	height: 40px;
  }
}

.index_button_show a {
  left: 25%;
}


/*--------- show page --------*/

#show_tabs_content div {
  position: relative;
  padding-left: 10px;
  border: 0px #DDDDDD solid;
  box-shadow: 0 1px 4px 0px #99A3AD, inset 0 0 40px #EEEEEE;
}

#show_page_id {
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  border: 0px #DDDDDD solid;
  box-shadow: 0 1px 4px 0px #99A3AD, inset 0 0 40px #EEEEEE;
}

#show_page_id:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 95%;
  top: 10px;
  right: 0px;
  bottom: 10px;
  left: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 20px #2A2E31;
}

#show_page_id:after {
  content: ""; 
  z-index: -1; 
  position: absolute; 
  width: 95%; 
  top: 10px; 
  right: 0px; 
  bottom: 10px; 
  border-radius: 0px; 
  box-shadow: 0px 0px 20px #2A2E31; 
}


.nested_messages {
  margin-left: 30px;
}

.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0;
}


.list_of_offers {
  border: 1px #DDDDDD solid;
  padding: 10px;
}

.comment_info {
  color: #737373;
}

.new_comment_header {
  font-size: 20px;
}

.media-body {
  line-height: 0;
}

/*----------footer -------*/

.footer_bottom {
  background-color: #333333;
  height: 116px;
	margin-top: 50px;
}

.footer_bottom ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  color: #858585;
}

.other_footer_links li {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

ul.other_footer_links li a:hover {
  color: #777777;
}

ul.other_footer_links li a {
  color: #858585;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.77778rem;
}


.fi-social-facebook:hover, .fi-social-twitter:hover, .fi-social-tumblr:hover, .fi-social-google-plus:hover, .fi-social-instagram:hover {
  color: #777777;
}

.fi-social-facebook, .fi-social-twitter, .fi-social-tumblr, .fi-social-google-plus, .fi-social-instagram {
  font-size: 60px;
  color: #858585;
}


.nested_messages .media, .parent_comment_display {
  background-color: #eeeeee;
padding-left: 10px;
border-radius: 5px;
  p {
    margin-bottom: 1rem;
  }
}


.post-info-display {
  display: none;
  position: relative;
  margin-top: -68px;
}

#post_index_panel:hover  .post-info-display {
  display: block;
  z-index: 200;
}



.subnav_hover_effect dd a:hover, #subnav2-homepage dd a:hover {
  border-bottom: 3px solid orange;
}

div.panel.clearfix {
  border-color: #cccccc;
  padding: 10px 10px 3px 10px;
  background: #FFFFFF;
}

#alternate-subnav {
  margin-top: 20px;
}

/*--- pagination-----*/
nav.pagination {
  padding: 30px 5px;
}

/*----- links below the search section---*/
dl.sub-nav-new {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc
}
dl.sub-nav-new dd input {
  border:none;
  background-color:white;
  color:#999999;
  font-size: 14px;
  padding: 3px 16px;
  cursor:pointer;
  border-bottom: 3px solid transparent;
}

dl.sub-nav-new dd input:hover {
  border-bottom: 3px solid orange;
}

dl.sub-nav-new dd {
 
  margin-bottom:3px;
  padding-bottom: 3px;
}















