<div class="footer_loco">
  <ul class="small-block-grid-7">
    <li><a href="#">Posts</a></li>
    <li><%= link_to "Log in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><a href="#">Trade history</a></li>
    <li><a href="#">Wish list</a></li>
    <li><a href="#">Newsletter</a></li>
    <li><a href="#">Specials</a></li>
  </ul>
</div>


