<div class="footer_bottom">
  <div class="row">
    <div class="medium-4 small-12 push-8 columns">
      <ul class="home-social">
        <li>
          <a href="http://www.twitter.com">
            <span data-tooltip class="has-tip" title="Twitter">
              <i class="fi-social-twitter"></i>
            </span>
          </a>
        </li>
        
        <li>
          <a href="http://www.facebook.com">
            <span data-tooltip class="has-tip" title="Facebook">
              <i class="fi-social-facebook"></i>
            </span>
          </a>
        </li>
        
        <li>
          <a href="http://www.tumblr.com">
            <span data-tooltip class="has-tip" title="Tumblr">
              <i class="fi-social-tumblr"></i>
            </span>
          </a>
        </li>
        
        <li>
          <a href="http://www.plus.google.com">
            <span data-tooltip class="has-tip" title="Google-plus">
              <i class="fi-social-google-plus"></i>
            </span>
          </a>
        </li>
        
        <li>
          <a href="http://www.instagram.com">
            <span data-tooltip class="has-tip" title="Instagram">
              <i class="fi-social-instagram"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="medium-8 small-12 pull-4 columns" id= "main_footer_links">
     
      <ul class="other_footer_links">
        <li class="footer_logo"><%= link_to "Loco Trades", root_path %></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Contact</a></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><a href="#" data-reveal-id="myModal" data-reveal>privacy policy</a></li>
        <li><a href="#">Newsletter</a></li>
        <li><a href="#">Specials</a></li>
      </ul>
    </div>
  </div>
</div>