<div class="row" id="subnav-top">
	<div class="large-9 large-centered columns">
		<div>
		  <dl class="sub-nav">
		    <dd class="sign_register">Hi!<a href="#">sign</a>or<a href="#">register</a>|</dd>
		    <dd><a href="#">Home</a>|</dd>
		    <dd><a href="#">About</a>|</dd>
		    <dd><a href="#">Contact</a>|</dd>
		    <dd><a href="#">Trades</a>|</dd>
		    <dd><a href="#">Advertise with us</a></dd>
		  </dl>
		</div>
	</div>
</div>