<form>
	<div class="row" >
		<div class="large-2 columns" id="logo-topbar">
			<%= link_to image_tag("/app2dup.jpg"), root_path %>
		</div>
		<div class="large-10 small-12 columns">
			<div class="row collapse">
				<div class="small-7 columns">
					<input type="text" placeholder="Search">
				</div>
				<div class="small-3 columns">
					<select>
							<option>All categories</option>
							<option>Art</option>
							<option>Books and Movies</option>
							<option>Clothing</option>
							<option>Collectibles</option>
							<option>Computers</option>
							<option>Construction Materials</option> 
							<option>Crafts & Hobbies</option>
							<option>Entertainment</option>
							<option>Farm & Ranch</option>
							<option>Food & bevarages</option>
							<option>Free Stuff</option>
							<option>Gardening</option>
							<option>Gifts</option>
							<option>Health& Beauty</option>
							<option>Home & Electronics</option>
							<option>Industrial & Commercial</option>
							<option>Jewelry & Gemstones</option>
							<option>Medical Supplies</option>
							<option>Miscellaneous</option>
							<option>Motorworld</option>
							<option>Music</option>
							<option>Office Supplies</option>
							<option>Others</option>
							<option>Pets/Animals</option>
							<option>Photography</option>
							<option>Real Estate</option>
							<option>Services</option>
							<option>Sporting Goods & Recreation</option>
							<option>Tools</option>
							<option>Toys & Games</option>
							<option>Vacation & Travel</option>
					</select>
				</div>
				<div class="small-2 columns">
					<a href="#" class="button postfix">Search</a>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="large-12 columns">
	  <dl class="sub-nav" id="subnav2-homepage">
	    <dd><a href="#">Motors</a></dd>
	    <dd><a href="#">Electronics</a></dd>
	    <dd><a href="#">Collectibles & Art</a></dd>
	    <dd><a href="#">Home & Garden</a></dd>
	    <dd><a href="#">Sporting Goods</a></dd>
	    <dd><a href="#">Toys & Hobbies</a></dd>
	    <dd><a href="#">Deals & Gifts</a></dd>
	  </dl>
	</div>
</div>

